<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Ссылка </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>
  
    <ng-container matColumnDef="preview">
      <th mat-header-cell *matHeaderCellDef> Превью </th>
      <td mat-cell *matCellDef="let element"> <img 
        [satPopoverAnchorFor]="imgView"
        (mouseenter)="imgView.open()"
        (mouseleave)="imgView.close()"
         src="{{element.url}}" 
         alt="" class="image-preview">

      <sat-popover #imgView horizontalAlign="after" verticalAlign="below">
        <div class="tooltip-wrapper">
        <img src="{{element.url}}" alt="">
        </div>
        </sat-popover>
         </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Действия </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="button-row">
          <button mat-icon-button>
            <mat-icon>star</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10,50]" showFirstLastButtons></mat-paginator>
</div>

