table {
  width: 100%;
}

.image-preview {
  width: 25px;
  height: 25px;
}

.tooltip-wrapper {
  padding: 8px;
  background: rgba(0,0,0,0.6);
  border-radius: 2px;
  margin: 8px;
  font-size: 12px;
}

.button-row>button {
  margin-right: 5px;
}