<ng-container>
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" role="navigation" opened class="example-sidenav" [fixedInViewport]=true>
        <mat-nav-list role="navigation">
          <mat-nav-list>
              <a mat-list-item routerLink="/all" routerLinkActive="active">Все</a>
            </mat-nav-list>
            <mat-nav-list>
              <a mat-list-item routerLink="/liked" routerLinkActive="active">Любимые</a>
            </mat-nav-list>
            <mat-nav-list>
              <a mat-list-item routerLink="/deleted" routerLinkActive="active">Удаленные</a>
            </mat-nav-list>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>